@import '~antd/dist/antd.less';

.logo {
  float: left;
  margin: 8px 8px 0 8px;
  height: 32px;
}

.site-layout-sub-header-background {
  background: #fff;
}

button>.svg-inline--fa+span, btn>.svg-inline--fa+span, .ant-btn>span+.svg-inline--fa {
  margin-left: 8px;
}


.ant-menu-submenu-title>.svg-inline--fa+span {
  margin-left: 8px;
}

.clickable-table-cell {
  cursor: pointer;
}

.presence-list-weekend-cell {
  background-color: lightyellow;
}

.presence-list-today-cell {
  background-color: lightcyan;
}


.fade-enter{
  opacity: 0;
//  transform: translateX(100%);
}
.fade-enter-active{
  opacity: 1;
  //  transform: translateX(0%);
}
.fade-exit{
  opacity: 1;
  //transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  //transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;//, transform 500ms;
}
