@import '~antd/dist/antd.less';

.logo {
  float: left;
  margin: 8px 8px 0 8px;
  height: 32px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.ant-layout-header {
  padding: 0 !important
}

button>.svg-inline--fa+span, btn>.svg-inline--fa+span, .ant-btn>span+.svg-inline--fa {
  margin-left: 8px;
}


.ant-menu-submenu-title>.svg-inline--fa+span {
  margin-left: 8px;
}

.clickable-table-cell {
  cursor: pointer;
}

.presence-list-weekend-cell {
  background-color: lightyellow;
}

.presence-list-pending-cell {
  background: repeating-linear-gradient(45deg, white, white 10px, lightgray 10px, lightgray 20px);
}

.presence-list-pending-weekend-cell {
  background: repeating-linear-gradient(45deg, white, white 10px, lightpink 10px, lightpink 20px);
}
